* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

#header {
  background-color: #fbbc02;
  height: 120px;
  padding: 1.5% 3.5% 1.5% 3.5%;
  position: relative;
  top: 0;
}

img {
  height: 11hw;
  width: 11vw;
}

#a {
  right: 0;
  top: 0;
  margin-right: 2%;
  margin-top: 1%;
  position: absolute;
}

#b {
  margin-top: 1%;
}

#c {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10%;
  margin-bottom: 1%;
  display: inline;
}

#d {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2%;
  margin-bottom: 1%;
  display: inline;
}

#a :hover {
  color: #585858 !important;
}

#b :hover {
  color: #585858 !important;
}

#c :hover {
  color: #585858 !important;
}

#d :hover {
  color: #585858 !important;
}

a {
  text-decoration: none !important;
  color: #000000 !important;
}

.item {
  border: #b3b3b3 1px solid;
  padding: 1%;
  padding-bottom: 5%;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.productos {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1.5%;
}

.item h3 {
  display: block;
  position: absolute;
  left: 0;
}

.img {
  width: 100%;
}

.h2 {
  text-align: center;
  margin-bottom: -5%;
  margin-top: 3%;
}

#banner {
  margin-bottom: 1.5%;
}

#galaxy {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#galaxyimg {
  width: 88%;
  margin-top: 10%;
}

#smart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#smartimg {
  width: 88%;
  margin-top: 10%;
}

.text {
  position: absolute;
  display: flex;
  font-size: 110%;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0.5px 0.5px #ffffff;
}

#galaxy:hover #galaxyimg {
  opacity: 60%;
}

#smart:hover #smartimg {
  opacity: 60%;
}

h2 {
  margin-bottom: 7%;
}

#form {
  background-color: rgb(255, 255, 255);
  padding: 5%;
  border-radius: 10px;
}

#form1 {
  text-align: center;
}

#form2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#form img {
  height: 50%;
  width: 50%;
  margin-bottom: 5%;
}

input {
  border-radius: 3px;
  height: 35px;
}

.input {
  display: flex;
}

b {
  margin-bottom: 5%;
  display: block;
  font-size: 18px;
}

#button {
  color: rgb(255, 255, 255);
  background-color: #420da3;
  border: none;
  border-radius: 3px;
  padding: 1.5%;
  font-size: 20px;
}

.hr{
  margin-left: 5%;
  margin-right: 5%;
}

.footer{
  border-left: 1px rgb(143, 143, 143) solid;
  border-top: 1px rgb(143, 143, 143) solid;
  border-left: 1px rgb(143, 143, 143) solid;
}

#footer{
  display: flex;
}

.icono{
  display: inline;
}
